@import url('./globals.css');
main{
    height: 90dvh;
    backdrop-filter: blur(30px);
}
body{
    background-image: url(../img/fondoContacto.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.btn{
    background: var(--botonprimario);
    color: var(--texto);
    padding: 10px;
    border-radius: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI';
    font-size: 20px;
     width: 100%;
}
.campo{
    margin-bottom: 8px;
    width: 70vh;
}
.completa{
    width: 100%;
    padding: 8px;
    border: 1px solid var(--bordes);
    border-radius: 4px;
    margin-bottom: 8px;
    color:#000;
}
.formulario{
    backdrop-filter: blur(30px);
    padding: 10px;
    border-radius: 6px;
    button{
        width: 100%;
    }
}
.info{
    color: var(--texto);
    text-align: center;
}
.form{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 30px;
}
textarea{
    height: 150px;
    width: 200px;
    resize: none;
}
.btn:hover{
    background-color: var(--botonsecundario);
    color: var(--texto);
    box-shadow: #000;
}
.contenedor-redes{
    width: 100%;
    align-items: center;
    margin-top: 20px;
}
.instagram{
    width: 50px;
}
@media (max-width:470px) {
    .menu{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top:10px;
    margin-bottom: 10px;
    }
    nav{
           height: 70px;
    }
}
@media (max-width:600px) {
    .campo{
        width:200px;
    }
}