:root{
    --colorbase:#D64933;
    --colorsecundario:#420217;
    --texto:#f0f0f0;
    --botonprimario:#d183C9;
    --botonsecundario:#1C3144;
    --bordes:#CDE5D7;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    padding: 16px;
    h1{
        color: black;
    }
    font-family: system-ui, -apple-system;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    width: 40%;
}
ul.menu li{
    /* color: var(--colorbase); */
    font-family: system-ui, -apple-system;

}
ul.menu li a{
    text-decoration: none;
    color: var(--texto);
}
nav{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}
nav img{
    width: 45px;
}
footer{
    color: var(--texto);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}